
// Font.
$font: (
  primary: ("Lato", Helvetica, Arial, sans-serif),
  monospace: (Monaco, courier, monospace)
);

// Palette de couleur

$palette: (
  primary:           #000000, //par défaut
  secondary:         #283040, //décliné de la couleur par défaut
  meta:              #5b677c, //décliné de la couleur par défaut
  border:            #b9c0ca, //bordure des panels
  bg:                #f7f9fb, //couleur de fond
  blanc:             #ffffff, //blanc
  note:              #fcb41d, //couleur div avec class="note"
  important:         #fc381d, //couleur div avec class="important"
  accent:            #D10033, //couleur accentuée (link, hover, bouton, ...) 
  gradient1:         #928f8f, //dégradé de couleur de départ
  gradient2:         #2a2121, //dégradé de couleur d'arrivée
);

@import "imports/functions";

@import "../../static/assets/css/fontawesome.min.css";
@import "../../static/assets/css/brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/docs";
@import "imports/sections";
@import "imports/footer";
//@import "imports/prism";
